.Sidebar .icon-wrapper,
.Sidebar .nav-links {
  width: max-content;
}

.Navbar {
  /* width: 80%; */
  height: max-content;
}

.Navbar .profile {
  width: 45px;
  height: 45px;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
  text-decoration-color: #84309c;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: left;
}

.grayscale {
  filter: grayscale(100%);
}

@media (max-width: 768px) {
  .header {
    margin-left: 0;
  }

  .title {
    font-size: 3rem;
    line-height: 1.15;
  }
}